.bg-none {
    background-color: rgba(0, 0, 0, 0) !important;
}
.bg-none > BottomNavigationAction{
    color: white !important;
}

.white {
    color: white !important;
}

.ecook {
    font-size: 20px !important;
    font-weight: bolder !important;
    color: white !important;
}