.bg {
    display: flex;
    justify-content: center !important;
    width: 100%;
    padding: 30px;
}
.full-width {
    width: 100%;
}

.step {
    color: #FF8527 !important;
    border-bottom: #828282 0.5px solid;
}
.list {
    background-color: #F5F5F5 !important;
    border-radius: 10px;
}

.modal {
    border-radius: 20px;
}

.radio {
    margin-top: 9px;
    margin-right: 15px;
}

.autocomplete {
    margin-bottom: 15px;
}

.grey {
    color: #828282 !important;
    border-color: #828282 !important;
}

.border-b {
    border-bottom: #828282 0.5px solid;
}

.text-grey {
    color: #828282 !important;
}

/* .input {
    margin:"15px" !important;
    accent-color:"orange" !important;
} */

/* Create a custom checkbox */
.input {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 2px black solid;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #002B4E;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    transform: rotate(35deg);
  }